* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  font-size: 14px;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.header {
  padding: 20px;
  text-align: center;
  color: #fff;
  background: #3f51b5;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.app__menu-links {
  display: flex;
  list-style: none;
}
.app__menu-link a {
  color: #fff;
}
.app-content {
  flex: 1;
  padding: 50px;
  font-size: 20px;
}

.footer {
  padding: 10px;
  text-align: center;
  color: #fff;
  background: #3f51b5;
  font-size: 12px;
}

p {
  padding-bottom: 10px;
}

ul {
  font-size: 16px;
}

li {
  padding-bottom: 10px;
}
